<section class="line">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/0.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/1.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/2.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </section>

  <section class="line">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/3.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/4.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/5.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </section>
  <section class="line">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/6.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/7.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/8.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </section>
  <section class="line">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/9.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/10.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/11.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </section>
  <section class="line">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/12.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/13.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/LuccasTraumer/my-angular-website/master/my-web-site/src/assets/imgs-hobbie/14.JPG" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </section>
