<nav role="navigation" class="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />

      <!--
      Some spans to act as a hamburger.

      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>

      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->


      <ul id="menu">
          <li>
            <div class="icon">
              <img src="https://avatars3.githubusercontent.com/u/16438051?s=400&u=fa0224315b18ada8435edf9ee06f2022f726bb6f&v=4" alt="" srcset="">
            </div>
          </li>


          <li>
            <div class="name-username">
              <label class="text-title">Lucas Träumer</label>
              <label class="text-grey subtitle ml-2vw" id="ml-2vw">@luccastraumer</label>
            </div>
        </li>

          <li>
            <div class="description">
              <label class="text-grey ml-2vw">Description</label>
              <label class="mr-2vw">Talk about my self</label>
            </div>
        </li>
          <li>
            <div class="group-social-media">
              <div class="div-group">
                <img src="../../../assets/github-icon.png" alt="">
                <a href="https://github.com/LuccasTraumer" target="_blank">Github</a>
              </div>

              <div class="div-group">
                <img src="../../../assets/github-icon.png" alt="">
                <a href="https://www.linkedin.com/in/luccastraumer/" target="_blank">Linkedin</a>
              </div>
            </div>
            <div class="div-group">
              <img src="../../../assets/github-icon.png" alt="">
              <a href="https://www.instagram.com/luccastraumer/" target="_blank">Instagram</a>
            </div>
            <div class="div-group">
              <img src="../../../assets/github-icon.png" alt="">
              <a href="https://www.facebook.com/LuccasTraumer/" target="_blank">Facebook</a>
            </div>
            <div class="div-group">
              <img src="../../../assets/github-icon.png" alt="">
              <a href="https://twitter.com/LuccasTraumer" target="_blank">Twitter</a>
            </div>
        </li>
        <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
      </ul>
    </div>
  </nav>
