<nav role="navigation" class="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />

      <!--
      Some spans to act as a hamburger.

      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>

      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->


      <ul id="menu">
          <li>
            <div class="icon">
              <img src="https://avatars3.githubusercontent.com/u/16438051?s=400&u=fa0224315b18ada8435edf9ee06f2022f726bb6f&v=4" alt="" srcset="">
            </div>
          </li>


          <li>
            <div class="name-username">
              <div class="name">
                <label class="font-weigth600 line-height17 font-size22 text-color-white">Lucas Träumer</label>
              </div>
              <div class="username">
                <label class="font-weigth600 font-size15 line-height0 text-color-grey" >@luccastraumer</label>
              </div>
            </div>
        </li>

          <li>
            <div class="description">
              <label class="font-weigth600 line-height17 font-size22 text-color-white">Description</label>
              <label class="font-weigth500 font-size15 line-height17 text-color-white">Talk about my self</label>
            </div>
        </li>
          <li>
            <div class="group-social-media">
              <div class="div-group">
                <img src="../../../assets/github-icon.png" alt="">
                <a href="https://github.com/LuccasTraumer" class="text-color-white font-size20 font-weigth500" target="_blank">Github</a>
              </div>

              <div class="div-group">
                <img src="../../../assets/github-icon.png" alt="">
                <a href="https://www.linkedin.com/in/luccastraumer/" class="text-color-white font-size20 font-weigth500" target="_blank">Linkedin</a>
              </div>
            </div>
            <div class="div-group">
              <img src="../../../assets/github-icon.png" alt="">
              <a href="https://www.instagram.com/luccastraumer/" class="text-color-white font-size20 font-weigth500" target="_blank">Instagram</a>
            </div>
            <div class="div-group">
              <img src="../../../assets/github-icon.png" alt="">
              <a href="https://www.facebook.com/LuccasTraumer/" class="text-color-white font-size20 font-weigth500" target="_blank">Facebook</a>
            </div>
            <div class="div-group">
              <img src="../../../assets/github-icon.png" alt="">
              <a href="https://twitter.com/LuccasTraumer" class="text-color-white font-size20 font-weigth500" target="_blank">Twitter</a>
            </div>
        </li>
        <a href="https://erikterwan.com/" class="text-color-white font-size20 font-weigth500" target="_blank"><li>Show me more</li></a>
      </ul>
    </div>
  </nav>
