<div class="container">
    <div class="assign-logo">
        <img src="" id="logo"alt="">
        <label class="text-title">Träumer</label>
    </div>

    <div class="circule-photo">
        <img src="" alt="">
    </div>

    <div class="username">
        <label class="text-title">Lucas Träumer</label>
        <label class="text-grey fontS-14">@luccastraumer</label>
    </div>

    <div class="description">
        <label class="text-grey fontS-20">Description</label>
        <label class="text">Talk about my self</label>
    </div>

    <app-social-media></app-social-media>
</div>