.container {
  width: 100vw;
}

.post {
  padding-top: 10vh;
}

.description {
  width: 100%;
  display: inline-block;
}

.data-project {
  float: right;
}

.imgs {
  display: inline-block;
  align-items: right;
}
