.container {
  width: 100vw;
}

.post {
  margin: 2vh;
  padding-top: 10vh;
}

.post .container {
  width: 80vw;
}

.description {
  padding-right: 2vw;
  width: 80%;
  display: inline-block;
}

.data-project {
  padding-top: 5vw;
  float: right;
  display: inline-grid;

}

.imgs-post {
  float: right;
}

.imgs-post img {

  float: right;
  width: 15vw;
  
}

.data-project .second {
  line-height: 0.5;
  padding-left: 2vw;
}

.imgs {
  display: inline-block;
  align-items: right;
}
