<div class="post container">

    <div class="description">
      <label class="font-weigth600 text-color-white font-size20">Description</label>
      <label class="text-color-white">{{getDescription()}}</label>
    </div>
    <div class="data-project">
      <div class="imgs-post">
        <img src={{setImage()}} alt="" srcset="">
      </div>
      <label class="font-weigth600 text-color-white font-size18">Project Name: </label>
      <label class="font-weigth300 text-color-white font-size15 second">{{getNameProject()}}</label>
      <label class="font-weigth600 text-color-white font-size18">Language:</label>
      <label class="font-weigth300 text-color-white font-size15 second">{{getTechs()}}</label>
    </div>
  </div>