.container {
    display: flex;
    padding: 0;
    margin: 0;
    margin:0px;
    padding: 0px;
    display: flex;

}

.border  {
  height: 100vh;
  width: 30vw;
  border: 0px solid #dee2e6!important ;
}


