html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #191A2A;
}

.container {
    display: absolute;
    padding: 0;
    margin: 0;
    margin:0px;
    padding: 0px;
    display: flex;
    width: 110vw;
    height: 100vh;
}

.border  {
  position: relative;
  height: 100vh;
  width: 30vw;
  border: 0px solid #dee2e6!important ;
}

.feed {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-left: 20vw;
}
